body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-color: #e3cdc9;
  }
  
  .header {
    font-family:'Times New Roman';
    background-color: #b4796e;
    color: #ebe3e1;
    padding: 20px;
  }
  
  .header h1 {
    text-align: center;
    font-size: 40;
  }
  
  nav a {
    color: #2b1c19;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    color: #ba9992;
  }
  
  #about-me {
    padding: 20px;
    border-bottom: 1px solid #b4796e;
  }
  
  .content {
    padding: 20px;
  }
  
  .content img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #b4796e;
  }